{{#each sortedPosts as |post|}}
{{#link-to 'view-post' post}}
  <div class="gradient">
  </div>
{{/link-to}}
<div class="blog-container">
  <div class="row">
    <div class="col-sm-2">
      <img src={{post.img}} class="img-responsive">
    </div>
    <div class="col-sm-10 review">
      <h3 class="post-title">
        {{post.title}}<br>
        <small>by {{post.author}}</small>
      </h3>

      <div class="post-text">
        <p>{{dateString post.timestamp}}</p><br>
        {{post.text}}
      </div>
    </div>
  </div>
</div>
{{/each}}
