{{#each sortedPosts as |post|}}
  {{#link-to 'view-post' post}}
    <div class="row review-container">
      <div class="col-sm-4 col-md-2 img-container">
        <img src={{post.img}} class="img-responsive">
      </div>
      <div class="col-sm-8 col-md-10 review">
        <div class="gradient">
        </div>
        <div class="blog-container">
          <h3 class="post-title">
            {{post.title}}<br>
            <small>by {{post.author}}</small>
          </h3>

          <div class="post-text">
            <p>{{dateString post.timestamp}}</p><br>
            {{post.text}}
          </div>
        </div>
      </div>
    </div>
  {{/link-to}}
{{/each}}
